body { background: #d52dc0; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 14px; display: flex; }
.block-email-0 { color: #e3b13f; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #6882c4; font-size: 19px; margin-bottom: 5px; }
.block-session-2 { color: #2b755; font-size: 21px; margin-bottom: 5px; }
.block-invoice-3 { color: #e4a93d; font-size: 15px; margin-bottom: 5px; }
.block-database-4 { color: #a4cc56; font-size: 18px; margin-bottom: 5px; }